.form-checkboxes span {
  font-family: "Switzer Light";
  font-weight: 400;
  font-size: 14px;
}

.form-checkboxes {
  appearance: none;
  width: 19px;
  height: 19px;
  border: 2px solid #898989;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  outline: none;
}

.form-checkboxes:checked {
  background-color: transparent;
  border-color: white;
}

.form-checkboxes:checked::after {
  content: url('../../../../assets/images/AddCompany/tickmark.svg');
  color: white; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.send-mail-label input[type="checkbox"]:checked + span {
    color: white;
  }
